<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="homepage.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="https://raw.githubusercontent.com/cr1stian/Nodeblog/master/public/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/cr1stian/Nodeblog/master/public/favicon.ico" type="image/x-icon"/>
    <title>What's on Your Mind?</title>
  </head>
  <body>
<div>



  <form method="post" action="logout">
    <input class="btn btn-warning" id="signOut" type="submit" value="SignOut">
  </form>


    <div class="w3-container w3-center">
      <h1 class="top-text">Mumbler!</h1>
      <br>
    </div>



  <h3 class="title">Hey <span style="color:#7f8c8d; font-size:32px; padding-left:5px">{{user}}</span>, got a <a style="font-size:36px" href="http://0.0.0.0:3000/post">Rant?</a></h3>
<br>


{{#content}}

<!--Post-->
  <div class="container">

  <div class='content'>
    <h4>{{postedby}}</h4>
    <br>
    <p style="color: #292929">{{body}}</p>
    <p style="color: #bdc3c7" >{{createdAt}}</p>

<div style="color: #292929">
  <form  class="likes" method="post" action="/likes">


    <input type="image" src="https://image.flaticon.com/icons/png/128/149/149762.png" style="width:20px; height:20px; display:inline" border="0" alt="Submit" value="{{id}}" ></input>

    {{likes}} <a class="likeby" value="{{id}}"> . . .</a>

  </form>

      <button class="btn btn-danger" style="float: right; margin-top:-30px">Delete</button>


</div>




  </div>
  </div>




{{/content}}



  </body>

  <script>

  // function w3_open() {
  //     document.getElementById("").style.display = "block";
  // }
  // function w3_close() {
  //     document.getElementById("").style.display = "none";
  // }


  </script>

</html>
