<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="homepage.css">
    <title>Make Your Rant!</title>
  </head>
  <body>
<div>

  <div class="w3-container w3-center">
    <h1 class="top-text">Mumbler!</h1>
    <br>
  </div>


  <div class="text">
    <form method="post" action="/createpost">
      <textarea name='text' class="form-control"  rows="4" id="post" placeholder="Rant On.."></textarea>
      <input type="submit" value="Submit" id="postbtn" class="btn btn-primary"/>
    </form>
    </div>



  </body>
</html>
