body{
 background-color: #1abc9c;
 font-family: Courier;
 color: white;
}
#signOut{
  margin: 0 auto;
}
.title{
  margin: 3px 4px;
  text-align: center;
}
#postbtn{
  margin-left: 30%;
}

#post{
  margin: 0 auto;
  width: 40%;
}
.container{
  background-color: #ecf0f1;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
  margin-left: 10%;
}

h4{
  color: #292929;
  font-weight: bold;
}
h1{
  font-family: Courier;
  color: white;
  font-size: 80px;
  text-align: center;
}
